<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>image_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,374},{94,22}}</string>
			<key>offset</key>
			<string>{2,87}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{94,22}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,350},{22,24}}</string>
			<key>offset</key>
			<string>{-2,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,98},{22,24}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,350},{74,66}}</string>
			<key>offset</key>
			<string>{-10,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,72},{74,66}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,448},{86,110}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,36},{86,110}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{108,188}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,8},{108,188}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,432},{120,154}}</string>
			<key>offset</key>
			<string>{3,21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,2},{120,154}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,442},{114,154}}</string>
			<key>offset</key>
			<string>{2,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,4},{114,154}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,180},{126,168}}</string>
			<key>offset</key>
			<string>{8,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{126,168}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,2},{130,176}}</string>
			<key>offset</key>
			<string>{6,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{130,176}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{124,172}}</string>
			<key>offset</key>
			<string>{3,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{124,172}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,112},{124,178}}</string>
			<key>offset</key>
			<string>{3,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{124,178}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,330},{116,164}}</string>
			<key>offset</key>
			<string>{1,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{116,164}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,338},{102,160}}</string>
			<key>offset</key>
			<string>{-6,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,10},{102,160}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,238},{98,170}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,6},{98,170}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{90,180}}</string>
			<key>offset</key>
			<string>{-10,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,4},{90,180}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{108,186}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,4},{108,186}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,338},{92,32}}</string>
			<key>offset</key>
			<string>{-3,84}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,0},{92,32}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
		<key>image_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{1,1}}</string>
			<key>offset</key>
			<string>{-3,84}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,0},{92,32}}</string>
			<key>sourceSize</key>
			<string>{142,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>animation.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:65b8153cb8fc68f101de30714c975504:1/1$</string>
		<key>textureFileName</key>
		<string>animation.png</string>
	</dict>
</dict>
</plist>
